    
   
    <script src="/static/core/jquery/jquery-3.4.1.min.js"></script>
     <script src="/static/core/bootstrap4/js/bootstrap.min.js"></script>
    <link href="/static/core/bootstrap4/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="UTF-8">
    {% load static %}
    
    
<title>Sistema de Agendamento</title>
    <div class="bs-example">
        <div class="jumbotron">           
                <a class="navbar-brand" href="/">
                    <img src="/static/imagens/conectar.svg" width="40" height="40" alt=""><p class="" >Sistema de Agendamentos</p>
                </a>        
        </div> 
    

